
<nav class="navbar navbar-expand-lg navbar-dark pb_navbar pb_scrolled-light" id="pb-navbar">
  <div class="container">
    <a class="navbar-brand" href="index.html">LAM/DEV</a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#probootstrap-navbar" aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="ion-navicon"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="probootstrap-navbar">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item"><a class="nav-link" href="#section-home">Home</a></li> -->
        <li class="nav-item"><a class="nav-link" href="#section-features">We do</a></li>
        <li class="nav-item"><a class="nav-link" href="#section-reviews">Works</a></li>
        <li class="nav-item"><a class="nav-link" href="#section-pricing">About</a></li>
        <!-- <li class="nav-item"><a class="nav-link" href="#section-faq">FAQ</a></li>
        <li class="nav-item cta-btn ml-xl-2 ml-lg-2 ml-md-0 ml-sm-0 ml-0"><a class="nav-link" href="https://uicookies.com/" target="_blank"><span class="pb_rounded-4 px-4">Get Started</span></a></li> -->
      </ul>
    </div>
  </div>
</nav>

<section class="pb_cover_v3 overflow-hidden cover-bg-indigo cover-bg-opacity text-left pb_gradient_v1 pb_slant-light" id="section-home">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-6">
          <h2 class="heading mb-3">Digital Solutions</h2>
          <div class="sub-heading">
            <p>We help you to shape your business idea and creat your first App.<br>Is ready to acelerate the success of it's digitalization.</p>
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="form-container col-md-5 relative align-self-center">

          <h1> Contact us!</h1>
          <form [formGroup]= "contactForm" (ngSubmit)="onSavedForm()" >
              <input type ="text" formControlName="name" placeholder="Your name">
              <div class="alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
                <div class="container-error-message" *ngIf="name.errors.required">
                  Name is required.
                </div>
                <div class="container-error-message" *ngIf="name.errors.minLength">
                  Name must be at least 5 characters long.
                </div> 
              </div>

              <input type ="text" formControlName="email" placeholder="Your email">
              <div class="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                <div class="container-error-message" *ngIf="email.errors.required">
                  Email is required.
                </div>
                <div class="container-error-message" *ngIf="email.errors.minLength">
                  Email must be at least 5 characters long.
                </div>
                <div class="container-error-message" *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern">
                  Value has to be a valid email addres.
                </div> 
              </div>
              
              <textarea formControlName="message" placeholder="Type your message"></textarea>
              <div class="alert-danger" *ngIf="message.invalid && (message.dirty || message.touched)">
                <div class="container-error-message" *ngIf="message.errors.required">
                  Message is required.
                </div>
              </div>
              <button type="submit" class="btn-send" [disabled]="!contactForm.valid">Send</button>
              <div class="alert-success" *ngIf="contactForm.valid">Your message has been sent!</div>
          </form>

      </div>
    </div>
  </div>
</section>

<section class="pb_section bg-light pb_slant-white pb_pb-250" id="section-features">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-6 text-center mb-5">
        <!-- <h5 class="text-uppercase pb_font-15 mb-2 pb_color-dark-opacity-3 pb_letter-spacing-2"><strong>Features</strong></h5> -->
        <h2>we do</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md- col-sm-6">
        <div class="media d-block pb_feature-v1 text-left">
          <div class="pb_icon"><i class="ion-ios-bookmarks-outline pb_icon-gradient"></i></div>
          <div class="media-body">
            <h5 class="mt-0 mb-3 heading">Design</h5>
            <p class="text-sans-serif">We design user-friendly and accessible interfaces defining flows, screens and components.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md- col-sm-6">
        <div class="media d-block pb_feature-v1 text-left">
          <div class="pb_icon"><i class="ion-ios-speedometer-outline pb_icon-gradient"></i></div>
          <div class="media-body">
            <h5 class="mt-0 mb-3 heading">Build</h5>
            <p class="text-sans-serif">We develop web & mobile applications by tuning the latest market technologies oriented to customer satisfaction.</p>
          </div>
        </div>
      </div>
      <!--<div class="col-lg-4 col-md- col-sm-6">
        <div class="media d-block pb_feature-v1 text-left">
          <div class="pb_icon"><i class="ion-ios-infinite-outline pb_icon-gradient"></i></div>
          <div class="media-body">
            <h5 class="mt-0 mb-3 heading">Unlimited Possibilities</h5>
            <p class="text-sans-serif">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div>

       <div class="col-lg-4 col-md- col-sm-6">
        <div class="media d-block pb_feature-v1 text-left">
          <div class="pb_icon"><i class="ion-ios-color-filter-outline pb_icon-gradient"></i></div>
          <div class="media-body">
            <h5 class="mt-0 mb-3 heading">Component Based Design</h5>
            <p class="text-sans-serif">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md- col-sm-6">
        <div class="media d-block pb_feature-v1 text-left">
          <div class="pb_icon"><i class="ion-ios-wineglass-outline pb_icon-gradient"></i></div>
          <div class="media-body">
            <h5 class="mt-0 mb-3 heading">Clean Code</h5>
            <p class="text-sans-serif">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md- col-sm-6">
        <div class="media d-block pb_feature-v1 text-left">
          <div class="pb_icon"><i class="ion-ios-paperplane-outline pb_icon-gradient"></i></div>
          <div class="media-body">
            <h5 class="mt-0 mb-3 heading">Lightweight</h5>
            <p class="text-sans-serif">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
            

